<!-- Responsive navbar-->
<div class="px-3 py-2 border-bottom mb-3">
  <header class="container d-flex flex-wrap justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">SocialNetwork</span>
    </a>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Вход</button>
      <button type="button" class="btn btn-primary">Регистрация</button>
    </div>
  </header>
</div>
